*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}

/* display: inline */
.inline {
  background-color: khaki;
  font-size: 20px;
}

/* display: block */
.block {
  background-color: khaki;
  font-size: 20px;
}

/* display: inline-block */
.image {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 30px;
  border: 5px solid red;
}

/* display: none */
.none{
  display: none;
  width: 300px;
  height: 300px;
  background: red;
}