h1{
  color: red;
}
/* Demo de especificidad  */
/* Primero lee a las
1. etiquetas
2. clases
3. etiquetas html */
#tituloContenedor{
  color: red;
}
.titulo{
  color: blue;
}
h2{
  color: red;
}


/* No es una buena practica usar Id para los estilos */
/* Lo recomentables usar solo clases y etiquetas html*/

.barra{
  /* Quita la decoracion de la lista */
  list-style-type: none;
}
.barra li{
  /* Coloca nuestra lista de forma horizontal */
  display: inline-block;
}
