* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.container {
  height: 500px;
  border: 0.3rem solid black;
  display: flex;
  align-items: center; 
  flex-wrap: wrap;
}
.box {
  height: 10rem;
  flex-basis: 10rem;
  flex-grow: 1;
}
.box1 {
  background-color: blue;
  order: 2;
}
.box2 {
  background-color: blueviolet;
  order: 3;
}
.box3 {
  background-color: burlywood;
  order: 1;
}
.box4 {
  background-color: cadetblue;
  order: 4;

}
.box5 {
  background-color: coral;
  order: 6;

}
.box6 {
  background-color: salmon;
  order: 5;

}
