/* Variables */
/* Construir una variable */
:root{
  /* --nombreDeLaVariable: valor; */
  /* ejemplo */
  --colorDeFondo: red;
}
/* Como utilizar las variables */
/* var(--colorDeFondo); */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0:
}
main p{
  /* Si el roboto no garga de internet, cargara el sans-serif que el navegador trae por defecto */
  font-family: 'Roboto', sans-serif;
}
