/* ############################################################################# */
/* -----------------------------------------------------------------------------
Orden de las declaraciónes
1. Posicionamiento:             = static, absolute, relative, fixed
2. Modelo de caja (Box model):  = margin, border, padding, content
3. Tipografía:                  = tipos, tamaños de fuente, etc
4. Estilos visuales:            = box-shadow, border-radius, gradient, etc
5. Otras:                       = Declaración CSS y más.
-------------------------------------------------------------------------------- */
/* ############################################################################# */
/* -----------------------------------------------------------------------------
Variables
-------------------------------------------------------------------------------- */

:root {
    --colorBarraNavegacion: black;
    --colorLogo: #003476;
    --colorBarraLateral: #0062d2;
    --colorContenidoprincipal: #b4d2f7;
    --colorFoter: #dfe1e5;
}

/* ############################################################################# */
/* -----------------------------------------------------------------------------
Estilos globales
-------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*16px === 1.6rem  */
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/* ############################################################################# */
/* -----------------------------------------------------------------------------
Declaracion de funciones globales CSS Orientado a Objeto
-------------------------------------------------------------------------------- */
.gSizeMinimum{
    width: 100%;
    min-width: 320px;
}
.gCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gCenterColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gCenterRow{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.gCenterColumnDividido{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.gCenterwrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* ############################################################################# */
.cajaPrueva-{
    display:flex;
    /* align-items: center;
    justify-content: center; */
    flex-wrap: wrap;
    font-size: 3.2rem;
    color: white;
}
.cajaPrueva- .CPcontenido-- {
    width: 100%;
    height: 200px;
}
.cajaPrueva- .CPCcero--{
    background-color: var(--colorBarraNavegacion);
}
.cajaPrueva- .CPCuno--{
    background-color: var(--colorLogo);
}
.cajaPrueva- .CPCdos--{
    background-color: var(--colorBarraLateral);
}
.cajaPrueva- .CPCtres--{
    background-color: var(--colorContenidoprincipal);
}
.cajaPrueva- .CPCcuatro--{
    background-color: var(--colorFoter);
}