/* Selector universal */
*{
  margin: 0;
  border: 0;
  /* Forma correcta de resetear el tamaño de las cajas */
  /* box-sizing: border-box; */
}
main{
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 25px solid red;
}

section{
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 50px;
  border: 25px solid black;
}
